* {
    margin: 0px;
    padding: 0px;
    font-family: lato;

}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    margin: 0px;
}

#text {
    color: #272727;
    font-family: lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.details {
    padding-left: 50px;
}

.btn1 {
    border-radius: 5px;
    background: #E55473;
    padding: 10px 20px;
    color: #FFF;
    border: none;
    font-size: 18x;

}

#pic1 {
    width: 400px;
    padding-top: 20px;
    padding-right: 20px;

}

#txt2 {
    color: #4e4d4d;
    font-family: lato;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 20px;

}

#head1 {
    /* margin: 20px; */
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    color: #272727;
    font-size: 25px;
}

#head2 {
    /* margin: 20px; */
    padding: 10px;
    text-align: center;
    
    color: #4e4d4d;
    padding-bottom: 40px;

}

.section {
    background-color: white;
 
}

.flow1 {
    width: 330px;
    height: 380px;
    /* border: 2px #d62929 solid; */
    margin-left: 150px;
    margin-right:25px ;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.flow2 {
    width: 330px;
    height: 380px;
    /* border: 2px #272727 solid; */
    margin-right:25px ;

    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);

}.flow3 {
    width: 330px;
    height: 380px;
    /* border: 2px #272727 solid; */
    margin-right: 140px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.ful {
    display: flex;
    justify-content:center;
    
}
.k {
    width: 240px;
   height: 308px;
   padding-left: 40px;;
   padding-top: 70px;

  }
  #jk{
    color: #4e4d4d;
    padding-top: 20px;
    
  }
  .sell{
    margin-top: 100px;
    display: flex;
justify-content: space-between;
align-items: center;
    width: 1032px;
    height: 200px;
    margin-left: 162px;
    padding-top: 50px;

    /* border: 1px red solid; */
    
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
  }
  .icon1{
    
    margin-left: 150px;
    padding-left: 20px
    
  }.icon1{
    margin-right: ;
    margin-left: 130px;
    margin-top: 
  }.icon3{
    margin-right:20px ;
    margin-left: 0px;
    margin-top: 
  }
  .j{
    padding-top: 20px;
    width: 300px;
    height: 55px;
    color: #4e4d4d;

  }
  .sign{
    width: 300px;;
    height: 500px;
    border: 2px,red,solid;
  }